/*body{
	font-family: "Helvetica", sans-serif;
}*/

/*body{
	color: white;
}
*/

.HeaderImage h1{
	color: white;
	font-size: 40px;
}

/*h3 {
	font-size: 30px;
	text-align: center;
}*/

.HeaderImage{
	width: 100%;
	height: 400px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 900px;
	background-image: url("images/overlay.png"), url("images/team_practice.jpg");
	background-repeat: repeat no-repeat;
	background-size: cover;
	background-position: center center;
	/*background-attachment: fixed;*/
}


.WhatWeDo p{
	font-size: 24px;
	line-height: 48px;
}

.WhatWeDo{
	text-align: center;
	/*height: 500px;*/
	padding: 15px 40px;
}

.Performances p{
	text-ualign: center;
}

.Performances{
	height: 500px;
}
.WhoWeAre p{
	text-align: center;
}

.WhoWeAre{
	height: 500px;
}

/*html, body, .container-fluid {
	height: 100%;
	overflow: hidden;
}*/

/*.row{
	height: 100%;
}*/

.container-fluid{
	padding: 0 !important;
}


/* ==================================================
   =            Landing Page/Index.html             =
   ================================================== */
a {
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}
#outer-background{
	background-image: url("images/overlay.png"), url("images/waasheader.jpg");
	background-repeat: repeat, no-repeat;
	background-size: 100%, cover;
	background-attachment: fixed;
	height: 100vh;
	/*width: 100%;*/

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.landing-page-text-wrapper{
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 55px;
	letter-spacing: 2px;
	font-weight: lighter;

	border-top: solid 1.5px rgba(255, 255, 255, .25);
	border-bottom: solid 1.5px rgba(255, 255, 255, .25);
	width: 40%;
}

.menu-bar > ul {
	list-style-type: none;
	padding: 0;
}
.menu-bar > ul > li{
	display: inline-block;
	text-align: center;
	margin: 30px 20px;
}
.menu-bar > ul > li > a,
.menu-bar > ul > li > a:hover{
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 1.4px;
	font-weight: 400;
}

.menu-bar > ul > li > a{
	color: #fff;
}
.menu-bar > ul > li > a:hover{
	color: #bfbfbf;
}

li a {
}

/*.logo {
	width: 15%;
}
.right-txt{
	margin-top: 25px;
	text-align: left;
	overflow: auto;
}

.row {
	background-color: rgba(0, 0, 0, .8);

}

.right-txt > h1 {
	font-size: 55px;
	padding-left: 20px;
	color: white;
}

.right-txt > p {
	padding: 25px 20px;
	text-align: left;
	line-height: 35px;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.8);

}

.right-txt .lead{
	margin-bottom: 0;
}

.right-txt > ul{
	margin: -10px auto;
	text-align: center;
}

.right-txt > ul li{
	display: inline-block;
	margin: 10px;
	font-size: 20px;
}

.menu-display{
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Muli", "Helvetica", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.menu-display a{
	color: #800000;
}

.menu-display a:hover{
	color: #bf7f7f;
	text-decoration: none;
}

.menu-display a.navbar-text{
	font-size: 20px !important;
}

nav.navbar.navbar-right.menu-display{
	margin-right: 20px;
}

nav.navbar.navbar-right.menu-display > a{
	font-size: 14px !important;
	color: white;

}

.active {
	color: #800000 !important;
}*/