#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /*background-color: black;*/
}

#wrapper.toggled { padding-left: 220px; }

#wrapper.toggled #sidebar-wrapper { width: 220px; }

#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}

#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #f9f9f9;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
 display: none;
}

#page-content-wrapper {
  /*padding-top: 20px;*/
  width: 100%;
}


.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.sidebar-nav.li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}

.sidebar-nav.li:before {
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  -webkit-transition: width 0.2s ease-in;
  /*background-color: #1c1c1c;*/
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-nav > .active-page a {
  background-color: #f1f1f0;
}

.sidebar-nav > li > a {
  color: #000;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}

.sidebar-nav > li:first-child > a{
  /*text-shadow: 0 1px 2px rgba(0,0,0,.25);*/
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 30px;
}
.sidebar-nav .dropdown-menu {
  /*background-color: #222222;*/
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.hamburger {
  background: transparent;
  /*border: none;*/
  display: block;
  height: 32px;
  /*margin-left: 15px;*/
  margin: 15px 0 0 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999;
}


.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: rgba(0, 0, 0, 0.4);*/
  z-index: 1;
}

button {
  -webkit-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.glyphicon{
  position: absolute !important;
}

.glyphicon-menu-hamburger,
.glyphicon-remove{
  font-size: 25px;
}

.container{
  padding: 0 !important;
  width: 100%;
}